<% total_linhas %>
<% total_colunas %>
<h3>Análise de Rastreabilidade e Cobertura</h3>


<ul class="nav nav-tabs">
</ul>

<% total_linhas.to_a.each_with_index do |total_linha,index| -%>
	
	<% cor = index.modulo(2)==0 ? "odd link" : "even link" %>

	<h4><%= total_linha[0] %></h4>	

	<div class="row-fluid">
		<div class="span9">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th class="shrink">Pergunta</th>
						<th class="shrink" style='width:60px;'>Resposta</th>
						<th class="records" style='text-align:center;'>Análise </th>
					</tr>
				</thead>
				<tbody>
				<tr class=<%=cor%> title='EXISTE PELO MENOS UM CREATE ?'>
					<td>
						<span class="show">EXISTE PELO MENOS UM CREATE ?</span>
					</td>
					<td style='text-align:center;'>
						<i class="icon-ok"></i> SIM
					</td>
					<td>
						
					</td>
					
				</tr>
				<tr class=<%=cor%> title='EXISTE PELO MENOS UM DELETE ?'>
					<td>
						<span class="show">EXISTE PELO MENOS UM DELETE ?</span>
					</td>
					<td style='text-align:center;'>
						<i class="icon-remove"></i> SIM
					</td>
					<td>
						
					</td>
				</tr>
				<tr class=<%=cor%> title='INTERAGE COM PELO MENOS UMA ENTIDADE ?'>
					<td>
						<span class="">INTERAGE COM PELO MENOS UMA ENTIDADE ?</span>
					</td>
					<td style='text-align:center;'>
						<i class="icon-remove"></i> NÃO
					</td>
					<td>
						
					</td>
				</tr>
				
				</tbody>
			</table>

		</div>
	</div>
<% end -%>	

<tr class='' title='Cada Entidade interage com pelo menos uma Atividade?'>
					<td>
						<span class="">Cada Entidade interage com pelo menos uma Atividade?</span>
					</td>
					<td style='text-align:center;'>
						<i class="icon-remove"></i> NÃO
					</td>
					<td>
						
					</td>
				</tr>

http://pt.scribd.com/doc/30531/129/VIII-10-3-Manipulando-a-Matriz-CRUD				